<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dbProviders" type="System.Configuration.DictionarySectionHandler" />
    <section name="dependencyProviders" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <dbProviders>
    <add key="Oracle" value="Oracle" />
    <add key="Sql Server" value="SqlServer" />
    <add key="MySQL" value="MySQL" />
  </dbProviders>
  <dependencyProviders>
    <add key="Oracle" value="OracleLibrary.ObjectProvider, OracleLibrary" />
    <add key="SqlServer" value="SqlServerLibrary.ObjectProvider, SqlServerLibrary" />
    <add key="MySQL" value="MySQLLibrary.ObjectProvider, MySQLLibrary" />
    <add key="Controls" value="DesktopControls.ObjectProvider, DesktopControls" />
    <add key="QueryControls" value="QueryDesktopControls.ObjectProvider, QueryDesktopControls" />
    <add key="AIControls" value="DesktopAIAssistants.ObjectProvider, DesktopAIAssistants" />
    <add key="Base" value="BaseClassesAndInterfaces.ServiceProvider, BaseClassesAndInterfaces" />
    <add key="Global" value="GlobalCommonEntities.ObjectProvider, GlobalCommonEntities" />
    <add key="OpenAI" value="OpenAIAPI.ObjectProvider, OpenAIAPI" />
  </dependencyProviders>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="supportedLanguages" value="en;es" />
    <add key="Language" value="" />
    <add key="dbconstring" value="" />
    <add key="dbconnections" value="10" />
    <add key="dataPath" value="Data" />
    <add key="ConfigPath" value="Config" />
    <add key="playCollection" value="playConfig.json" />
    <add key="appFunctions" value="appFunctions.json" />
    <add key="nsQueries" value="NonStandardQueries.json" />
    <add key="updateConfiguration" value="UpdateAssistantsConfiguration.json" />
    <add key="defaultPlay" value="AIChessDatabase_play" />
    <add key="PGNdir" value="PGN" />
    <add key="LogPathBase" value="Logs" />
    <add key="FunctionCallLog" value="fcall.log" />
    <add key="tokenUsageLog" value="TokenUsage.csv" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.47.1.0" newVersion="1.47.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>